[Unit]
Description=Crossposting Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/crossposting
EnvironmentFile=/root/crossposting/.env
ExecStart=/root/crossposting/.venv/bin/python main.py
Restart=always
RestartSec=5
SyslogIdentifier=crosspost
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
